---
// Define an array of items
const items = [
  {
    number: "1",
    title: "Fast Onboarding",
    description:
      "Get your new team members up to speed quickly with a streamlined setup process.",
  },
  {
    number: "2",
    title: "Bottleneck Removal",
    description:
      "Identify and eliminate the barriers that are holding your team back, ensuring smooth and efficient workflows.",
  },
  {
    number: "3",
    title: "Scalability",
    description:
      "As your team grows, my solutions grow with you, ensuring that your processes remain efficient and effective.",
  },
  {
    number: "4",
    title: "Financial Efficiency",
    description:
      "By reducing wasted time and resources, my services pay for themselves, making the investment a financial no-brainer.",
  },
];
---

<section>
  <div
    class="mx-auto 2xl:max-w-7xl lg:flex 2xl:border-x-2 border-black border-b-2">
    <div class="lg:w-1/2 p-8 lg:px-20 bg-green-500">
      <div class="lg:sticker lg:sticky py-16 top-20">
        <div>
          <img
            class="size-8 lg:w-20 lg:h-20 shadow-small shadow-black rounded-full"
            src="/images/blob2.svg"
            alt="your alt-text"
          />

          <h2
            class="text-3xl mt-12 xl:text-6xl tracking-tight font-medium text-black">
            Why Streamlined Development Matters
          </h2>
          <p class="max-w-md mt-4 tracking-wide xl:text-xl text-lg text-black">
            In today’s fast-paced business environment, time is money. Every day spent on inefficient setup processes or troubleshooting is a day of lost productivity and revenue. My specialty is optimizing your development environment, making it easier for your team to hit the ground running, whether they’re seasoned professionals or new hires.
          </p>
          <div class="flex-col flex gap-3 mt-10 sm:flex-row">
            <a
              class="text-black items-center shadow shadow-black text-lg font-semibold inline-flex px-6 focus:outline-none justify-center text-center bg-white border-black ease-in-out transform transition-all focus:ring-lila-700 focus:shadow-none border-2 duration-100 focus:bg-black focus:text-white sm:w-auto py-3 rounded-lg h-16 tracking-wide focus:translate-y-1 w-full hover:text-lila-800"
              href="https://calendly.com/pen-loop"
              target="_blank" rel="noopener"
              >Book a Call
            </a>
          </div>
        </div>
      </div>
    </div>
    <div class="lg:w-1/2 bg-green-500 lg:border-l-2 border-black">
      <ul
        class="grid h-full grid-cols-1 sm:grid-cols-2 md:grid-cols-3 lg:grid-cols-2 gap-0.5 bg-black list-none"
        role="list">
        {
          items.map((item) => (
            <li class="bg-white p-8 lg:p-12">
              <div>
                <div class="flex h-10 w-10 items-center justify-center border-2 border-black shadow-tiny duration-300 shadow-black rounded-full bg-green-500 font-semibold">
                  {item.number}
                </div>
                <p class="text-xl mt-8 text-black font-medium">{item.title}</p>
              </div>
              <div class="max-w-xl mt-4 text-base tracking-wide text-black">
                {item.description}
              </div>
            </li>
          ))
        }
      </ul>
    </div>
  </div>
</section>
