<section      >
  <div
    class="relative items-center w-full mx-auto 2xl:max-w-7xl border-b-2 2xl:border-x-2 border-black"
  >
    <div class="grid grid-cols-1 lg:grid-cols-2">
      <div
        class="relative p-8 lg:px-20 items-center gap-12 h-full lg:inline-flex bg-yellow-500"
      >
        <div      >
          <div>
            <h2
              class="text-3xl lg:text-6xl tracking-tight font-medium text-black">
              About Me:
            </h2>
          </div>
          <br />
          <p class="text-base lg:text-base w-full text-black">
            I’m a freelance software developer based in New York, specializing in improving development setup processes and implementing database changes without compromising the developer experience. With a decade of experience as a software and DevOps engineer at leading tech companies like MongoDB and Codecademy, I’ve honed my skills in solving complex infrastructure scaling problems.
            <br />
            <br />
            In my free time, I’m passionate about building apps and sharing my knowledge through a cybersecurity blog that has repeatedly made the front page of Hacker News. My hands-on experience in both large-scale environments and personal projects gives me a unique perspective on how to optimize development processes for maximum efficiency and effectiveness.
          </p>

        </div>
      </div>
      <div class="block w-full aspect-square lg:mt-0 bg-yellow-500 h-full">
        <img
          class="h-full object-cover border-black"
          alt="testimonial"
          src="/images/testimonial.png"
        />
      </div>
    </div>
  </div>
</section>
