<footer class="section">
  <div
    class="container text-center bg-black relative items-center w-full mx-auto py-8 2xl:max-w-7xl border-b-2 2xl:border-x-2 border-black"
  >
    <ul class="pb-4">
      <li class="inline-block">
        <a
          aria-label="linkedin"
          target="_blank" rel="noopener"
          href="https://www.linkedin.com/company/pen-loop-consulting"
          class="flex h-10 w-10 items-center justify-center">
            <img
              class="invert mx-auto"
              src="/favicons/linkedin-svgrepo-com.svg"
              alt="your alt-text"
            />
        </a>
      </li>
      <li class="inline-block ml-8">
        <a
          aria-label="your label"
          target="_blank" rel="noopener"
          href="https://github.com/lydiastepanek/"
          class="flex h-10 w-10 items-center justify-center">
            <img
              class="invert mx-auto"
              src="/favicons/github-icon-1-logo-svgrepo-com.svg"
              alt="your alt-text"
            />
        </a>
      </li>
    </ul>
    <div class="container text-center">
      <p class="max-w-lg mx-auto mt-4 text-white">
        <a href="https://github.com/lydiastepanek/pen-loop-dot-io" target="_blank" rel="noopener">
          Source
        </a>
      </p>
    </div>
  </div>
</footer>
